$main-bg-color: #1F1F1F;
$secondary-bg-color: #5D5D5D;
$active-item-bg-color: #767676;
$disabled-item-bg-color: #5D5D5D;
$disabled-item-font-color: #767676;
$hover-color: #8E8E8E;
$hover-special: #1A93FF;
$focus-bar-color: #1A93FF;

//font sizes
$nav-bar-font-size: 18px;
$main-font-size: 14px;
$desc-font-size: 10px;
$font-color: #FFFFFF;
