<div class="p-1 main-font">
  <nav>
    <ul class="reset-list-style p-0">
      <li (click)="selectRoute()"
          routerLink="/enter-hours"
          routerLinkActive="active-nav-item"
          class="navbar-content hover-special p-1-y">
        ENTER HOURS
      </li>
      <li (click)="selectRoute()"
          routerLink="/dashboard"
          routerLinkActive="active-nav-item"
          class="navbar-content hover-special p-1-y">
        DASHBOARD
      </li>
      <li (click)="selectRoute()"
          routerLink="/settings"
          routerLinkActive="active-nav-item"
          class="navbar-content hover-special p-1-y">
        SETTINGS
      </li>
    </ul>
  </nav>
</div>
